<div id="outer-box">
  <%= image_pack_tag "Wondrous Wetland.png" %>
  <div id="outer-container" data-controller="sample">
  <%
    (1..14).each do |y|
      (1..14).each do |x|
        y_class = "y-box-#{y}"
        x_class = "x-box-#{x}"
        y_oriented_number = y + ((x-1) * 14)
        x_oriented_number = ((y-1) * 14) + x

        plot_number = x_oriented_number
      %>
    <div class="<%= y_class %> <%= x_class %> inner-box" id="plot-<%= plot_number %>">
      <a href="/regions/<%= plot_number %>" data-turbolinks-persist-scroll="true"><p>#<%= plot_number %></p></a>
    </div>
    <%
      end
  end %>
  </div>
</div>
