<!DOCTYPE html>
<html>
  <head>
    <title>SampleTransect</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'stylesheets' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <% if session[:userinfo] %>
      <ul class="nav navbar-nav navbar-right">
        <li class="<%= 'active' if params[:controller] == 'logout' %>"><a id="qsLogoutBtn" href="/logout">Logout</a></li>
      </ul>
    <% end %>
    <%= yield %>
  </body>
</html>
